@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: var(--font-inter), system-ui, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-lexend);
}

body {
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

:focus-visible {
  outline-style: solid;
  outline-color: #a5b4fc; /* indigo 300 */
  outline-width: 2px;
  outline-offset: 1px;
}

.danger-outline {
  outline-color: #f87171; /* red 300 */
}

@layer base {
  :root {
    --gray-25: #fdfdfd;
    --gray-50: #fafafa;
    --gray-100: #f5f5f5;
    --gray-200: #e9eaeb;
    --gray-300: #d5d7da;
    --gray-400: #a4a7ae;
    --gray-500: #717680;
    --gray-600: #535862;
    --gray-700: #414651;
    --gray-800: #252b37;
    --gray-900: #181d27;
    --gray-950: #0a0d12;

    --text-primary: var(--gray-900);
    --text-secondary: var(--gray-700);
    --text-secondary-hover: var(--gray-800);
    --text-tertiary: var(--gray-600);
    --text-tertiary-hover: var(--gray-700);
    --text-quaternary: var(--gray-500);

    --text-disabled: var(--gray-500);
    --text-placeholder: var(--gray-500);

    --border-primary: var(--gray-300);
    --border-secondary: var(--gray-200);
    --border-tertiary: var(--gray-100);

    --bg-primary: #ffffff;
    --bg-primary-hover: var(--gray-50);
    --bg-secondary: var(--gray-50);
    --bg-secondary-hover: var(--gray-100);
    --bg-tertiary: var(--gray-100);
    --bg-quaternary: var(--gray-200);

    --bg-active: var(--gray-50);
    --bg-disabled: var(--gray-100);
    --bg-overlay: var(--gray-950);
  }

  .dark {
    --gray-25: #fafafa;
    --gray-50: #f7f7f7;
    --gray-100: #f0f0f1;
    --gray-200: #ececed;
    --gray-300: #cecfd2;
    --gray-400: #94979c;
    --gray-500: #85888e;
    --gray-600: #61656c;
    --gray-700: #373a41;
    --gray-800: #22262f;
    --gray-900: #13161b;
    --gray-950: #0c0e12;

    --text-primary: var(--gray-50);
    --text-secondary: var(--gray-300);
    --text-secondary-hover: var(--gray-200);
    --text-tertiary: var(--gray-400);
    --text-tertiary-hover: var(--gray-300);
    --text-quaternary: var(--gray-400);

    --text-disabled: var(--gray-500);
    --text-placeholder: var(--gray-400);

    --border-primary: var(--gray-700);
    --border-secondary: var(--gray-800);
    --border-tertiary: var(--gray-800);

    --bg-primary: var(--gray-950);
    --bg-primary-hover: var(--gray-800);
    --bg-secondary: var(--gray-900);
    --bg-secondary-hover: var(--gray-800);
    --bg-tertiary: var(--gray-800);
    --bg-quaternary: var(--gray-700);

    --bg-active: var(--gray-800);
    --bg-disabled: var(--gray-800);
    --bg-overlay: var(--gray-800);
  }
}
